---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/followers?access_token=42f2ea957eaeebfe6599690fae935334043b2d8d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1455834766'
      Etag:
      - W/"dc85c519686684a628e673215c4f4a52"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - acb0bedc53502664480d
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"mitchashby16","id":10623771,"avatar_url":"https://avatars.githubusercontent.com/u/10623771?v=3","gravatar_id":"","url":"https://api.github.com/users/mitchashby16","html_url":"https://github.com/mitchashby16","followers_url":"https://api.github.com/users/mitchashby16/followers","following_url":"https://api.github.com/users/mitchashby16/following{/other_user}","gists_url":"https://api.github.com/users/mitchashby16/gists{/gist_id}","starred_url":"https://api.github.com/users/mitchashby16/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mitchashby16/subscriptions","organizations_url":"https://api.github.com/users/mitchashby16/orgs","repos_url":"https://api.github.com/users/mitchashby16/repos","events_url":"https://api.github.com/users/mitchashby16/events{/privacy}","received_events_url":"https://api.github.com/users/mitchashby16/received_events","type":"User","site_admin":false},{"login":"mrjaimisra","id":8093774,"avatar_url":"https://avatars.githubusercontent.com/u/8093774?v=3","gravatar_id":"","url":"https://api.github.com/users/mrjaimisra","html_url":"https://github.com/mrjaimisra","followers_url":"https://api.github.com/users/mrjaimisra/followers","following_url":"https://api.github.com/users/mrjaimisra/following{/other_user}","gists_url":"https://api.github.com/users/mrjaimisra/gists{/gist_id}","starred_url":"https://api.github.com/users/mrjaimisra/starred{/[...]
