---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/dastinnette/orgs?access_token=42f2ea957eaeebfe6599690fae935334043b2d8d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4971'
      X-Ratelimit-Reset:
      - '1455839434'
      Etag:
      - W/"78281ba6bf1f4dd624e127acfe6f7c49"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - acb0bedc53502664480d
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"TuringTestOrganization","id":17304060,"url":"https://api.github.com/orgs/TuringTestOrganization","repos_url":"https://api.github.com/orgs/TuringTestOrganization/repos","events_url":"https://api.github.com/orgs/TuringTestOrganization/events","hooks_url":"https://api.github.com/orgs/TuringTestOrganization/hooks","issues_url":"https://api.github.com/orgs/TuringTestOrganization/issues","members_url":"https://api.github.com/orgs/TuringTestOrganization/members{/member}","public_members_url":"https://api.github.com/orgs/TuringTestOrganization/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/17304060?v=3","description":"For
        testing organizations!"}]'
  recorded_at: Thu, 18 Feb 2016 23:04:54 GMT
[...]
