<body id="homepage">
  <div class="container center">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h3>Welcome to BitPub</h3>
      <h5>Your local watering hole for storing and swapping code bits</h5>
      <br>
      <br>
      <%= link_to "Login with GitHub", "/auth/github", class: "waves-effect waves-orange btn-flat" %>
    </div>
    <div class="col-md-2"></div>
  </div>
</body>
