<div class="col-md-2"></div>
<div class="col-md-8">
  <h1>Welcome to BitPub</h1>
  <h3>Your local watering hole for storing and swapping code bits</h3>
  <%= link_to "Login with GitHub", "/auth/github", class: "btn" %>
</div>
<div class="col-md-2"></div>
