/* WELCOME PAGE */

#homepage {
  background: url(welcome.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.homepage-text {
  color: white;
  font-family: Roboto;
}

/* NAVBAR */

.top-nav {
  margin-left: 11px;
}

/* PROFILE PAGE */

.profile-pic {
  border-radius: 5%;
  height: 250px;
}

.box {
  max-height: 250px;
  overflow-y: auto;
}

.collection {
  color: black;
}
